<h1>Tutorial</h1>
<ul><li>
  <a>One-way binding</a>
<p>
  Input1: <input type="text" value="{{myVariable}}" disabled="{{myDisabledValue}}">
</p>
<p>
  Input2: <input type="text" value="{{myVariable}}" [disabled]="myDisabledValue">
</p>
<button (click)="callMyFunction()">Hey there!</button>
</li></ul>

<ul><li>
    <a>Two-way binding</a>
<p>
  ComplexOne: <input type="textC" [value]="textC" (input)="updateValue($event)"> {{textC}}
</p>
<p>
  SimpleOne: <input type="textS" [(ngModel)]="textS"> {{textS}}
</p>
</li></ul>

<ul><li>
    <a>Looping with *ngFor</a>
<table>
  <tr>
    <td>No.</td>
    <td>Name</td>
    <td>Is online?</td>
  </tr>
  <tr *ngFor="let record of records; let myIndex = index; let evenRecord = even; let oddRecord = odd; let firstRecord = first; let lastRecord = last" [ngClass]="{odd: oddRecord, even : evenRecord, last: lastRecord, first : firstRecord}">
    <td>{{myIndex + 1}}</td>
    <td>{{record.name}}</td>
    <td>{{record.online}}</td>
  </tr>
</table>
</li></ul>

<ul><li>
    <a>Two-way binding</a>
</li></ul>

<ul><li>
    <a>Two-way binding</a>
</li></ul>

<ul><li>
    <a>Two-way binding</a>
</li></ul>

<ul><li>
    <a>Two-way binding</a>
</li></ul>

<ul><li>
    <a>Two-way binding</a>
</li></ul>
